<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{{ title }}</title>
    <style>
	.nubex {
	font-size: 32px;
	}
   </style>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Vteter</a>
        <a class="btn btn-primary" href="/">Выйти из профиля</a>
        <a class="btn btn-success" href="/dop">Изменить профиль</a>
    </nav>
</header>
<main role="main" class="container">
{% block content %}
    <h1>Ваш профиль</h1>
    <img src= {{ Avatar }} width="256" height="256" >
    <div class="nubex">Вас зовут: {{ Name }} </div>
    <div class="nubex">Возраст: {{ User }} </div>
    <div class="nubex">Город: {{ Gorod }} </div>
    <div class="nubex">Страна: {{ Strana }} </div>
    </form>
{% endblock %}
</main>
</body>
</html>